# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Migrations (optional if early stage)
# */migrations/
# !*/migrations/__init__.py